VITE_API_BASE_URL=http://127.0.0.1:8000/api
VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_CONTACT_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_WISHLIST_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_ORDER_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxx
