# Frontend -> backend API base URL
VITE_API_BASE_URL=http://127.0.0.1:8000/api

# EmailJS Service ID
VITE_EMAILJS_SERVICE_ID=service_xxxxxxx

# EmailJS template for Contact page
VITE_EMAILJS_CONTACT_TEMPLATE_ID=template_xxxxxxx

# EmailJS template for checkout invoice/order emails
VITE_EMAILJS_ORDER_TEMPLATE_ID=template_xtkn2jc

# EmailJS template for wishlist discount notifications
VITE_EMAILJS_WISHLIST_TEMPLATE_ID=template_xxxxxxx

# EmailJS Public Key
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxx
